#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.container > * {
  align-self: auto;
}

.spinner {
  width: .75rem;
  height: .75rem;
  border: 2px solid #ccc2;
  border-top-color: #646cff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  margin-right: .5rem;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}